@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root{
  --font-familys: "Roboto", sans-serif;
}
body{
  margin: 0%;
  padding: 0%;
  font-family: var(--font-familys);
  font-weight: 800;
  width: 20%;
  height: 100%;
}
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  color: #2aa5b7;
}
.lp{
    left: 0;
    background-color: #f2f2f2;
    width: 27%;
    margin-left:23%;
}
.rp{
    right: 0;
    background-color: #f2f2f2;
    width: 27%;
    margin-right: 23%;
}
.vl{
  border-left: 6px dashed blue;
  z-index: -1;
    top: 0;
    bottom: 0;
    left: 99.5%;
  position: absolute;
  background-color: #f2f2f2; 
}
.tp{
  text-align: center;
}
.textb{
  background-color: #19aec2;
  color: #f2f2f2;
  width: 90%;
  text-align: center;
  margin-left: 3%;
  margin-top: 2%;
  margin-bottom: 2%;
  border-left: 4px dotted #f2f2f2;
  border-right: 4px dotted #f2f2f2;;
  font-size: small;
  padding: 1%;
}
.heading{
  color: #365669; 
  font-size: 120%; 
  font-weight: 2000;
}
.image1{ 
  padding-right: 25%;
  padding-top: 5%;
  height: 30%;
  width: 25%;
}
.image{
  width:30%;
  padding-top: 5%;
  padding-right: 3%;
}
.i3{
  width: 25%;
  padding-top: 5%;
}
.f1{
  width: 65%;
  padding-right: 5%;
  padding-top: 2%;
}
.m1{
  width: 50%;
  height: 40px;
  padding-right: 15%;
  margin: 0%;
}
.m2{
  width: 50%;
  padding-right: 15%;
  height: 40px;
}
.m3{
  width: 30%;
  height: 40px;
  padding-right: 33%;
}
.p1{
  width: 25%;
  padding-right: 34%;
}
.p2{
  width: 25%;
  padding-right: 30%;
}
.p3{
  width: 20%;
  padding-right: 28%;
}
.p4{
  width: 20%;
  padding-right: 25%;
}
.l1{
  width: 20%;
  padding-right: 3%;
}
.ytext{
  color: #ebbd2d; 
  font-size: 110%;
}
.num
{
  color: #ebbd2d;
  font-size: xx-large;
}
.btext{
  color: #365669; 
  font-size: 150%;
}